<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/orderedit.css">
</head>
<body>

    
    <form action="/admin/updateOrder" method="post">
        <h1><%= title%></h1>
        <div class="confirm">
            <label >Confirm Order: </label><br>
            <input type="hidden" name="order_id" value="<%= orders[0].id %>">
            <input type="number" value="<%= orders[0].order_confirm %>" min="0" max="1" name="order_Con">
        </div>
        <div class="submitbtn">
            <input type="submit" value="EDIT">
        </div>
    </form>
</body>
</html>